@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 3)
and (-webkit-device-pixel-ratio : 3) {
	#newItem {
		width: 300px;
		height: 30px;
		font-size: 1.5em;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,1);
		border-radius: 1px;
	}
	h1 {
		font-size: 70px;
	}
	h3 {
		font-size: 40px;
		padding-bottom: 2em!important;
	}
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) {
	#newItem {
		width: 300px;
		height: 30px;
		font-size: 1.5em;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,1);
	}
<<<<<<< HEAD
}

html {
	background: url('../pexels-photo-26799.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
=======
	h1 {
		font-size: 70px;
	}
	h3 {
		font-size: 40px;
		padding-bottom: 2em!important;
	}
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-device-pixel-ratio: 2) {
	#newItem {
		width: 300px;
		height: 30px;
		font-size: 1.5em;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,1);
	}
	h1 {
		font-size: 70px;
	}
	h3 {
		font-size: 40px;
		padding-bottom: 2em!important;
	}
>>>>>>> master
}

html {
	background: url('../pexels-photo-26799.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color: transparent;
	margin: 0;

}

.container {
	height: 1000px;
	width: 100%;
}

.header {

}

h1 {
	color: #fff;
	text-shadow: 2px 2px #000000;
	font-family: Lucida, sans-serif;
	margin: 0 auto;
	padding-top: 2.3em;
	text-align: center;
	width: 100%;
}

h3 {
	color: #CCC;
	font-family: sans-serif;
	padding-bottom: 3em;
	text-align: center;
	letter-spacing: 1px;
	font-style: italic;
}

.order-section {
	background-color: #fff;
	border-radius: 5px;
	border: solid 1px white;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
}

.item-input {
	background-color: #fff;
	border: solid 1px #000000;
	font-family: sans-serif;
	margin-left: 2em;
	height: 30px;
	width: 300px;
	text-align: left;
}

.add-button {
	color: #fff;
	text-align: center;
	height: 30px;
	padding-left: 5em;
}

button {
	background-color: green;
	border-radius: 4px;
	color: #fff;
	height: 30px;
	float: right;
}

#addBtn {
	background-color: #4CAF50; /* Green */
	border: 1px solid black;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	height: 35px;
}

#addBtn:hover {
	background-color: #fff;
	color: #4CAF50;
}

#clearBtn {
	background-color: #4CAF50; /* Green */
	border: 1px solid black;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	height: 35px;
}

#clearBtn:hover {
	background-color: #fff;
	color: #4CAF50;
}

.item-checklist {
	padding-top: 1em;
}

.item-input > p {
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
}

.item-list {
	background-color: #ccc;
	border-radius: 5px;
	color: #fff;
	list-style: none;
	font-family: Lucida, sans-serif;
	height: 30px;
	width: 400px;
	margin-bottom: 4px;
	margin-left: -6px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: 8px;
}

.item-list > p {

}

.delete {
	display: none;
}

.checkout {
	background-color: orange;
	color: #fff;
	height: 30px;
	width: 300px;
	margin-left: 2em;
	margin-bottom: 4px;
	margin-top: 8em;
}

#newItem {
	width: 300px;
	height: 30px;
	font-size: 1.5em;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,1);
}

.temp_items {
	list-style: none;
}

.temp_items li {
	margin-top: 5px;
}

.clear-all {
	margin: 0 auto;
	display: none;
}
