body {
	margin: 0;
}

.container {
	background-image: url('../pexels-photo-26799.jpg');
	background-position: fixed;
	height: 1000px;
}

h1 {
	background-color: #ccc;
	color: #fff;
	font-family: Lucida, sans-serif;
	height: 50px;
	margin: 0 auto;
	padding-top: 0.3em;
	text-align: center;
	width: 100%;
}

h3 {
	color: #000;
	font-family: sans-serif;
	padding-bottom: 3em;
	text-align: center;
	letter-spacing: 1px;
}

.order-section {
	background-color: #fff;
	border-radius: 5px;
	border: solid 1px white;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 500px;
}

.item-input {
	background-color: #fff;
	border: solid 1px #000000;
	font-family: sans-serif;
	margin-left: 2em;
	height: 30px;
	width: 300px;
	text-align: left;
}

.add-button {
	color: #fff;
	text-align: center;
	height: 30px;
	padding-left: 5em;
}

button {
	background-color: green;
	border-radius: 4px;
	color: #fff;
	height: 30px;
	float: right;
}

.item-checklist {
	padding-top: 1em;
}

.item-input > p {
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
}

.item-list {
	background-color: #ccc;
	border-radius: 5px;
	color: #fff;
	list-style: none;
	font-family: Lucida, sans-serif;
	height: 30px;
	width: 400px;
	margin-bottom: 4px;
	margin-left: -6px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: 8px;
}

.item-list > p {

}

#delete {

}

.checkout {
	background-color: orange;
	color: #fff;
	height: 30px;
	width: 300px;
	margin-left: 2em;
	margin-bottom: 4px;
	margin-top: 8em;
}

#newItem {
	width: 300px;
	height: 30px;
	font-size: 1.5em;
}

.temp_items {
	list-style: none;
}

.temp_items li {
	margin-top: 5px;

.clear-all {
	margin: 0 auto;
	visibility: hidden;
